body {
    background: #f9f9f9;
    color: #202225;
    align-items:center;
    display: flex;
    justify-content:center;
    height: 100vh;
  }
  
  body div.darkmode {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 1rem 0.75rem 1rem;
    cursor: pointer;
  }
  
  body.dark .darkmode .light,
  body:not(.dark) .darkmode .dark {
    display: none;
  }
  .fa{
    cursor: pointer;
  }